# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# DMARC / Email data files (never commit raw data)
*.mbox
*.xml
*.gz
*.gzip
*.zip
*.json

# Temp directories
tmp/
temp/
*.tmp
